<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AmazonSuite">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="AmazonTest">
        <classes>
            <class name="tests.MainAmazonAuto"/>
        </classes>
    </test>
</suite>

